@use "../abstracts/" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    font-size: 1.4rem;
    width: 100%;

    @include fylo(tab-land) {
        flex-direction: row;
        align-items: flex-end;

        gap: 3rem;
    }
}
